@(title: String, moreStyles: Seq[String] = Nil, moreScripts: Seq[String] = Nil, initScript: Html = HtmlFormat.empty)(content: Html)

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Bootstrap Admin Theme</title>

        <link href='@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("bower_components/metisMenu/dist/metisMenu.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("bower_components/sb-admin2-based-honoka-black/dist/css/sb-admin-2.min.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("bower_components/morrisjs/morris.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.min.css")' rel="stylesheet">
        @views.html.common.stylesheets(moreStyles)

    </head>

    <body id="body">

        @content

        <script type="text/javascript" src='@routes.Assets.versioned("bower_components/jquery/dist/jquery.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("bower_components/metisMenu/dist/metisMenu.js")'></script>

        @views.html.common.javascripts(moreScripts)

        <script type="text/javascript" src='@routes.Assets.versioned("bower_components/sb-admin2-based-honoka-black/dist/js/sb-admin-2.min.js")'></script>

        <script type="text/javascript">
                $(function () {
                    @initScript
                });
        </script>

    </body>
</html>